/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    background: lightpink;
    font-family: 'Baloo 2', cursive;
    font-size: 12px;
  }

  /* se a tela tiver pelo menos 400px, vai carregar esses estilos */
  @media (min-width: 400px) {
body {
  font-size: 14px;
}
  }

/* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
      }

      /* breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
      }

  header { 
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  menu a:active,
  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 2s;
  }

  .menu a:hover {
    background-color: deeppink;
    color: white;
  }

  a {
    color: Deeppink;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  0% /* ou "from" */{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  
  100% /* ou "to" */{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: #1C1C1C;
  }

  .site-title {
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'VT323', monospace;
    line-height: 1.8em;
  }

  .sobre,
  .contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
}

@media (min-width:1200px) {
  .sobre,
  .contato,
  .portfolio{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

  .sobre h2,
  .contato h2,
  .portfolio h2 {
    font-family: 'Pangolin', cursive;
    color: #1C1C1C;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .sobre p {
   color: #1C1C1C;
   text-indent: 1.4em;
   margin-bottom: 1.4em;
   text-align: justify;
  }
  
.sobre a {
  color: deeppink;
  text-decoration: none;
}

.sobre .avatar{
  float: right;
  margin-left: 2em;
   clip-path: polygon(100% 0%, 83% 50%, 100% 100%, 25% 100%, 0 51%, 25% 0%);
}

 @media (max-width: 600px) {
  .sobre .avatar {
    clip-path: circle(50.0% at 50% 50%);
  }
 }

.sobre a:hover {
  text-decoration: underline;
}

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    justify-content: center;
  }
}

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 224px;
    transition: transform 500ms;
    border-radius: 20px;
  }

  /* caso o mause passe nas imagens do portfolio..., porém estou usando o card-front e o card-back nessas mesmas imagens */

  /* .img-portfolio:hover {
    transform: scale(1.2);
  }*/

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

  .card-front, 
  .card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-back {
    background-color: pink;
    height: 180px;
    width: 224px;
    transform: rotateY(180deg);
  }
  
.contato .icons {
  text-align: center;
}

  .contato a {
    color: deeppink;
    font-size: 4em;
    transition: 1s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(229, 25, 96, 0.5);
    font-size: 4.1em;
  }
